<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.UserMapper">

    <!-- 회원 정보 조회 -->
    <select id="selUserList" resultType="map">
        select userId,
               userName,
               userEmail
        from user
    </select>

    <select id="selUserById" parameterType="map" resultType="map">
        select userId,
               userName,
               userEmail
        from user WHERE user_id = #{userId}
    </select>

    <!-- 회원 정보 등록 -->
    <insert id="insUser" parameterType="map">
        insert into user
            (user_id,
             user_pw,
             user_name,
             user_email)
        values (#{userId},
                #{userPw},
                #{userName},
                #{userEmail})
    </insert>

    <!-- 회원 정보 수정 -->
    <update id="updtUser" parameterType="map">
        update user
        set user_name = #{userName}, user_email = #{userEmail}
        where user_id = #{userId}
    </update>

    <!-- 회원 정보 삭제 -->
    <delete id="delUser">
        delete from  user
               where user_id = #{userId}
    </delete>

</mapper>