<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.mapper.UserMapper">

    <!-- 회원 정보 조회 -->
    <select id="selUserList" resultType="UserDto">
        SELECT * FROM user
    </select>

    <select id="getUserById" resultType="UserDto">
        SELECT * FROM user WHERE user_id = #{userId}
    </select>

    <!-- 회원 정보 등록 -->
    <insert id="insUser" parameterType="UserDto">
        INSERT INTO user (user_id, user_pw, user_name, user_email)
        VALUES (#{userId}, #{userPw}, #{userName}, #{userEmail})
    </insert>

    <!-- 회원 정보 수정 -->
    <update id="updtUser" parameterType="UserDto" >
        UPDATE user
        SET user_pw = #{userPw}, user_name = #{userName}, user_email = #{userEmail}
        WHERE user_id = #{userId}
    </update>

    <!-- 회원 정보 삭제 -->
    <delete id="delUser">
        DELETE FROM user WHERE user_id = #{userId}
    </delete>

</mapper>